@media (max-width: 376px) {
 
    /* *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    } */

    body{
        width: 375px;
        height: 500vh;
    }
    header{
        width: 100%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    #divH1{
        display: none;
    }
    #divH2{
        background-image: url(./pic/h.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 40%;
        width: 100%;
    }
    #hH1{
        position: absolute;
        color: black;
        top: 45%;
        right: 2%;
        font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    width: 343px;
    }
    span{
        color: black;
    }
    #hP{
        font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    }
    #hbtn{
        background-color: black;
        color: white;
        font-family: 'Big Shoulders Display';
        font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23.94px;
    border: none;
    width: 204px;
    height: 72px;
    }
    #hbtn:hover{
        cursor: pointer;
        background-color: #D5966C;
    }
    #hbtn:hover ~ #hbtn2{
        background-color: black; 
        cursor: pointer;
    }
     #hbtn2:hover{ 
        cursor: pointer;
    }
    /*
    #hbtn2:hover ~ #hbtn{
        background-color: #D5966C; 
        cursor: pointer;
    } */
    
    #hbtn2{
        height: 72px;
    width: 56px;
    background-color: #D5966C;
    border: none;
    }
    a{
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-top: 50px;
    }
    #divHR{
        width: 339px;
        position: absolute;
        top: 60%;
        right: 2%;
    }
    
    section{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-block: 10%;
        padding-inline: 5%;
        justify-content: flex-start;
    }
    #s1divTop{
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column-reverse;
    }
    #s1dtL{
        height: 50%;
        width: 100%;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    #s1dtL__h1{
        font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: #151515;
    text-transform: uppercase;
    width: 300px;
    }
    #s1dtL__p{
        font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    }
    #s1dtR{
        height: 50%;
        width: 100%;
        background-image: url(./pic/pic1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #s1divBottom{
        width: 100%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #s1dbL{
        width: 100%;
        height: 45%;
        background-image: url(./pic/pic2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    #s1dbR{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #s1dbRT{
        width: 100%;
        height: 40%;
        background-image: url(./pic/pic3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #s1dbRB{
        width: 100%;
        height: 55%;
        background-color: #151515;
        padding: 10%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #s1dbRB__h1{
        font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: white;
    text-transform: uppercase;
    }
    #s1dbRB__p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
    }
    
    footer{
        width: 100%;
        height: 10%;
        background-color: #151515;
        display: flex;
        flex-direction: column;
        padding-inline: 5%;
        justify-content: space-between;
    }
    #fdiv1{
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #fdiv1h1{
        color: white;
        font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    width: 50%;
    }
    #fdiv2{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    #fdiv3{
        height: 25%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 20px;
    }
    
    #fdiv1p{
        font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: white;
    }
    .fa:hover{
       
        cursor: pointer;
        
    }
}